{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About New-line</h1>
    </header>
    <article>
        <p>Today, it's not a secret to anyone how important it is to have a website in the 21st century and why it needs to be promoted in the search engines. The presence of the site not only positively influences the image of the company, speaking about its stability and serious approach to business, but it is an excellent indicator of the company's high level of development, allows it to outstrip competitors by several steps, raises users' confidence in products or services.</p>
    </article>
{% endblock %}