{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Confirm{% endblock %}

{% block body %}
    <div class="row" style="background-color: #f5f5f7; padding-bottom: 3%;">
        <div class="container-fluid" style="margin-top: 3%;">

            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                    Сейчас Вас перенаправят на предыдущую страницу.
                </div>
            {% endif %}

        </div>
    </div>

    <script>

        var oldURL = document.referrer;
        setTimeout( 'location=oldURL;', 5000 );

    </script>



{% endblock %}