{% extends 'BloggerBlogBundle::page/seoforms.html.twig' %}

{% block title %}Seo{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <h1 style="text-align: center;">
                Цены на продвижение сайта
            </h1>
            <div class="col-md-push-2 col-md-8" style="text-align: center;">
                <p class="home-o-nas" style="color:black; padding-bottom: 3%; text-transform: none;">TODO - от чего
                    зависят цены на продвижение сайта (основные критерии: возраст, тематика, регион, тип сайта)</br>Seo
                    продвижение сайта в
                    *Интернете позволяет вывести его на первые позиции в выдаче самых известных поисковых систем.
                    Благодаря высоким позициям, у сайта повысится посещаемость и рейтинг, увеличится трафик. При помощи
                    квалифицированного seo продвижения эфективная раскрутка сайта увеличивается во много раз.
                    Обратившись к профессионалам, возможно добиться высоких результатов в
                    продвижении сайта, получить прибыль, увеличив продажу товаров или услуг. Для повышения уровня
                    осведомленности бренда и повышения спроса потенциальных покупателей рекомендуется комплексное
                    продвижение сайта.* </p>

                {#<a href="#" class="btn" style="border: 1px solid black;">Получить коммерческое предложение</a>#}
            </div>


        </div>
    </div>
    <div class="container-fluid  bg-gray-light">
        <div class="row">
            <div class="col-md-8 col-md-push-2 section" style="padding-top: 10px; padding-bottom: 10px; padding:0%;">
                <h2>Калькулятор расчета цены на продвижение сайта</h2>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="an-small-title">Тематика сайта</div>

                        <div class="element-single">
                            <form name="f11">
                            <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-11" value="80">
                                <label for="check-11">Авто</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-12" value="100">
                                <label for="check-12">Банковские услуги</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-13" value="60">
                                <label for="check-13">Бытовая техника</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-14" value="50">
                                <label for="check-14">Двери</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-15" value="50">
                                <label for="check-15">Дизайн интерьеров</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-16" value="80">
                                <label for="check-16">Медицина</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-17" value="120">
                                <label for="check-17">Мебель</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-18" value="100">
                                <label for="check-18">Недвижимость</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-19" value="40">
                                <label for="check-19">Обучение</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                            <input type="radio" name="f11" id="check-110" value="150">
                            <label for="check-110">Окна</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-111" value="70">
                                <label for="check-111">Отдых</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-112" value="50">
                                <label for="check-112">Продажа одежды и обуви</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-114" value="90">
                                <label for="check-114">Развлечения</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-115" value="130">
                                <label for="check-115">Строительство</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-116" value="70">
                                <label for="check-116">Услуги</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-119" value="100">
                                <label for="check-119">Hi-tech</label>
                            </span>
                                <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-120" value="60">
                                <label for="check-120">Другая</label>
                            </span>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="col-md-6">
                            <div class="an-small-title">Возраст сайта</div>

                            <div class="element-single">
                                <form name="f12">
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f12" id="check-121" value="150">
                                    <label for="check-121">Новый (до 2 месяцев)</label>
                                </span>
                                    <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f12" id="check-122" value="100">
                                    <label for="check-122">До 1 года</label>
                                </span>
                                    <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f12" id="check-123" value="50">
                                    <label for="check-123">От 1 до 3 лет</label>
                                </span>
                                    <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f12" id="check-124" value="0">
                                    <label for="check-124">От 3 лет и выше</label>
                                </span>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="an-small-title">Тип сайта</div>

                            <div class="element-single">
                                <form name="f13">
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f13" id="check-125" value="0">
                                    <label for="check-125">Сайт-визитка</label>
                                </span>
                                    <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f13" id="check-126" value="100">
                                    <label for="check-126">Корпоративный сайт</label>
                                </span>
                                    <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f13" id="check-127" value="200">
                                    <label for="check-127">Интернет-магазин</label>
                                </span>
                                    <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f13" id="check-128" value="400">
                                    <label for="check-128">Интернет-портал</label>
                                </span>
                                </form>
                            </div>
                        </div>


                        <div class="col-md-12" style="
    border-top: 2px dashed #ccc;
    margin-top: 10px">

                            <div class="col-md-6">
                                <div class="pricing-table__item-price">
                                    от
                                    <span class="pricing-table__item-price-value" id="price-value1">
                                200
                                        {#Калькулятор стоимости#}
                                        <script>
                                    // document.getElementById('price-value').innerHTML = 200;
                                    var f11 = document.forms.f11;
                                    var f12 = document.forms.f12;
                                    var f13 = document.forms.f13;
                                    var radio1 = 0, radio2 = 0, radio3 = 0;
                                    var value = parseInt(document.getElementById("price-value1").innerHTML);
                                    f11.onchange = function () {
                                        if (document.querySelector('input[name="f11"]:checked')) {
                                            radio1 = parseInt(document.querySelector('input[name="f11"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f12"]:checked')) {
                                            radio2 = parseInt(document.querySelector('input[name="f12"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f13"]:checked')) {
                                            radio3 = parseInt(document.querySelector('input[name="f13"]:checked').value);
                                        }
                                        document.getElementById('price-value1').innerHTML = value + radio1 + radio2 + radio3;
                                    }
                                    f12.onchange = function () {
                                        if (document.querySelector('input[name="f11"]:checked')) {
                                            radio1 = parseInt(document.querySelector('input[name="f11"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f12"]:checked')) {
                                            radio2 = parseInt(document.querySelector('input[name="f12"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f13"]:checked')) {
                                            radio3 = parseInt(document.querySelector('input[name="f13"]:checked').value);
                                        }
                                        document.getElementById('price-value1').innerHTML = value + radio1 + radio2 + radio3;
                                    }
                                    f13.onchange = function () {
                                        if (document.querySelector('input[name="f11"]:checked')) {
                                            radio1 = parseInt(document.querySelector('input[name="f11"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f12"]:checked')) {
                                            radio2 = parseInt(document.querySelector('input[name="f12"]:checked').value);
                                        }
                                        if (document.querySelector('input[name="f13"]:checked')) {
                                            radio3 = parseInt(document.querySelector('input[name="f13"]:checked').value);
                                        }
                                        document.getElementById('price-value1').innerHTML = value + radio1 + radio2 + radio3;
                                    }
                                </script>
                                        {#Калькулятор стоимости#}
                            </span>
                                    <div class="pricing-table__item-price-aside">
                                        <span class="top">руб</span>
                                        <span class="bottom">месяц</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="vertical-align: bottom; line-height: 80px;">
                                <a href="#win2" class="btn" style="border: 1px solid black; margin-top: 22px;">Оформить
                                    заявку</a>
                            </div>


                        </div>
                        <div class="col-md-12" style="

    margin-top: 10px">
                            <p style="font-size: 13px; margin-bottom: 20px;">
                                *Калькулятор расчитывает среднюю стоимость
                                продвижения сайта. Для того чтобы
                                узнать полную стоимость продвижения вашего сайта, заполните форму полного расчета
                                стоимости
                                сайта и
                                наши специаоисты в короткие сроки подготовят коммерческое проедложение.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}