{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Seo{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb" style="background-color: white;">
        <li><a href="#">Главная</a></li>
        <li><a href="{{ path('BloggerBlogBundle_services') }}" class="active">Услуги</a></li>
        <li><a href="{{ path('BloggerBlogBundle_seo') }}" class="active">Продвижение сайтов</a></li>
    </ol>
    <div class="row" style="background-color: white;">
        <div class="container-fluid" >

            <h1 style="text-align: center; padding-bottom: 3%; font-size: 32px;">
                Зачем нужно продвижение сайта?
            </h1>
            <div class="col-md-push-2 col-md-8" style="text-align: center;">
                <p class="home-o-nas" style="color:black; padding-bottom: 3%; text-transform: none;">Продвижение сайта в
                    Интернете позволяет вывести его на первые позиции в выдаче самых известных поисковых систем.
                    Благодаря высоким позициям, у сайта повысится посещаемость и рейтинг, увеличится трафик. При помощи
                    квалифицированного продвижения сайта и seo оптимизации раскрутка сайта и его эффективность
                    увеличивается во много раз. Обратившись к профессионалам, возможно добиться высоких результатов в
                    продвижении сайта, получить прибыль, увеличив продажу товаров или услуг. Для повышения уровня
                    осведомленности бренда и повышения спроса потенциальных покупателей рекомендуется комплексное
                    продвижение сайта. </p>

                <a href="#" class="btn" style="border: 1px solid black;">Получить коммерческое предложение</a>

            </div>
        </div>


    </div>


    <section class="section bg-custom seo-foto" style="">
        <div class="container">
            <div class="row">
                <h2 class="text-white-big">
                    Продвижение сайтов в студии New-line это:</h2>

                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-thumbs-o-up fa-5x" aria-hidden="true" style="padding-bottom: 10%"></div>

                        <div class="home-text-stat" style="color:white;">
                            Только белые методы
                        </div>
                        <p>Продвижение сайтов студии New-line производится только белыми методами, тем самым оберегая
                            ваш сайт от фильтров поисковых систем</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-users fa-5x" aria-hidden="true" style="padding-bottom: 10%"></div>
                        <div class="home-text-stat" style="color:white;">
                            Профессионализм
                        </div>
                        <p>В нашей команде работают только специалисты, которые имеют достаточный опыт в продвижении
                            сайтов</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-bar-chart fa-5x" aria-hidden="true" style="padding-bottom: 10%"></div>
                        <div class="home-text-stat" style="color:white;">
                            Работа на результат

                        </div>
                        <p>Мы стремимся сделать все возможное для продвижения и удержания сайта в топах поисковых систем
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="row">
        <div class="container-fluid" style="margin-left: 10%; margin-right: 10%;">

            <h2 class="text-black">
                Наши кейсы</h2>
            <div id="first-slider1">
                <div id="carousel-example-generic1" class="carousel slide carousel-fade">


                    <div id="first-slider1">
                        <div id="carousel-example-generic1" class="carousel slide carousel-fade">
                            <!-- Indicators -->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <!-- Item 1 -->
                                <div class="item active slide-content "
                                     style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="/images/playmarket2.png" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">Регион продвижения: Минск</span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">Тематика: Электроника</span></div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                8000/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button"                                                data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left" style="color:black; padding-right:5px;"></i><span style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right" style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-overlay"></div>
                                </div>
                                <!-- Item 2 -->
                                <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="/images/martial1.png" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Регион продвижения: Беларусь
                    </span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Тематика: Спортивная экипировка
                    </span></div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                3200/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button"                                                data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left" style="color:black; padding-right:5px;"></i><span style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right" style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-overlay"></div>


                                </div>
                                <!-- Item 3 -->
                                <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="/images/sanit.png" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Регион продвижения: Беларусь                    </span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Тематика: Сантехника
                    </span></div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                9000/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center; padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button"                                                data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left" style="color:black; padding-right:5px;"></i><span style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right" style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-overlay"></div>

                                </div>


                            </div>


                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>


    <!--Form Section-->
    <section class="section bg-gray-light" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="text-align:center;">
                    {#<i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>#}


                    <div id="first-slider">
                        <h3 class="text-black" style="padding-top:15px;">
                            Немного мотивации</h3>
                        <div id="carousel-example-generic" class="carousel slide carousel-fade">


                            <div id="first-slider">
                                <div id="carousel-example-generic" class="carousel slide carousel-fade">
                                    <!-- Indicators -->

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Item 1 -->
                                        <div class="item active slide-content "
                                             style="width:100%; left:0%; height: auto;">
                                            <p class="quote-2"><i>Для нас не должно существовать никаких пределов</i>
                                            </p>
                                            <p style="margin-top:7%;text-align:center;">Ричард Бах</br>Философ и
                                                психолог</p>

                                            <div class="bg-overlay"></div>
                                        </div>
                                        <!-- Item 2 -->
                                        <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                            <p class="quote-2"><i>Вы не будете расти, если не будете пытаться сделать
                                                    что-то за пределами того, что вы уже знаете в совершенстве.</i></p>
                                            <p style="margin-top:7%;text-align:center;">Уильям Джеймс</br>Писатель и
                                                философ</p>

                                            <div class="bg-overlay"></div>


                                        </div>
                                        <!-- Item 3 -->
                                        <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                            <p class="quote-2"><i>Для нас не должно существовать никаких пределов</i>
                                            </p>
                                            <p style="margin-top:7%;text-align:center;">Ричард Бах</br>Писатель и
                                                философ</p>

                                            <div class="bg-overlay"></div>

                                        </div>

                                        <!-- Indicators -->
                                        <ol class="carousel-indicators" style="position:relative; margin-top: 30px;">
                                            <li data-target="#carousel-example-generic" data-slide-to="0"
                                                class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>

                                        </ol>

                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>


                </div>


                <div class="col-md-8">
                    <div class="text-center">
                        <h3 class="text-black" style="padding-top:15px;">Остались
                            вопросы?</h3>
                        <img src="images/title-border.png" alt="" class="img-responsive center-block"/>
                        <p class="sub-title text-muted">Заполните форму обратной связи и наши специалисты свяжутся с
                            вами в ближайшее время.</p>
                    </div>


                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" placeholder="Имя" required/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="useremail" placeholder="Ваш Email"
                                           required/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="subject" placeholder="Тема" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                            <textarea class="form-control" rows="5" id="message"
                                      placeholder="Сообщение...."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <input type="submit" class="submitBnt btn btn-custom" value="Отправить сообщение"
                                       style="color:black;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--END FORM-->
{% endblock %}