{% extends 'BloggerBlogBundle::page/seoforms.html.twig' %}

{% block title %}Seo{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}




    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <h1 style="text-align: center;">
                Продвижение сайтов в топ 10
            </h1>
            <div class="col-md-push-2 col-md-8" style="text-align: center;">
                <p class="home-o-nas" style="color:black; padding-bottom: 3%; text-transform: none;">
                Почему важно продвинуть сайт в топ 10 (менее 1% пользователей доходят дальше топ 10)

                </p>

                {#<a href="#" class="btn" style="border: 1px solid black;">Получить коммерческое предложение</a>#}
            </div>


        </div>
    </div>

    <div class="container-fluid bg-gray-light" >
    <div class="row" style="margin-left: 10%; margin-right: 10%;">
    <h2 class="text-black">
        Результаты продвижения сайтов в топ 10 New Line Studio</h2>
        <div class="col-md-6 col-lg-6 col-xs-12">
            <h3 class="text-center">Продвижение сайтов в топ 10 Google</h3>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12">
            <h3 class="text-center">Продвижение сайтов в топ 10 Яндекс</h3>
        </div>
    </div>
    </div>


    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <h2 style="text-align: center;">Зависимость стоимости продвижения web-сайта, от типа и возраста</h2>
            <div class="col-md-push-2 col-md-8" style="text-align: center;">
                <p class="home-o-nas" style="color:black; padding-bottom: 3%; text-transform: none;">Seo продвижение сайта в
                    Интернете позволяет вывести его на первые позиции в выдаче самых известных поисковых систем.
                    Благодаря высоким позициям, у сайта повысится посещаемость и рейтинг, увеличится трафик. При помощи
                    квалифицированного seo продвижения эфективная раскрутка сайта увеличивается во много раз.
                    Обратившись к профессионалам, возможно добиться высоких результатов в
                    продвижении сайта, получить прибыль, увеличив продажу товаров или услуг. Для повышения уровня
                    осведомленности бренда и повышения спроса потенциальных покупателей рекомендуется комплексное
                    продвижение сайта. </p>

                {#<a href="#" class="btn" style="border: 1px solid black;">Получить коммерческое предложение</a>#}
            </div>


        </div>
    </div>
    <div class="container-fluid bg-gray-light" >
        <div class="row" style="margin-left: 10%; margin-right: 10%;">
            <h2 class="text-black">
                Наши кейсы</h2>
            <div id="first-slider1">
                <div id="carousel-example-generic1" class="carousel slide carousel-fade">


                    <div id="first-slider1">
                        <div id="carousel-example-generic1" class="carousel slide carousel-fade">
                            <!-- Indicators -->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <!-- Item 1 -->
                                <div class="item active slide-content "
                                     style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="{{ asset('/images/playmarket2.png') }}" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">Регион продвижения: Минск</span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">Тематика: Электроника</span></div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                8000/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button" data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left"
                                                       style="color:black; padding-right:5px;"></i><span
                                                            style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right"
                                                       style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-overlay"></div>
                                </div>
                                <!-- Item 2 -->
                                <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="{{ asset('/images/martial1.png') }}" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Регион продвижения: Беларусь
                    </span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Тематика: Спортивная экипировка
                    </span></div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                3200/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button" data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left"
                                                       style="color:black; padding-right:5px;"></i><span
                                                            style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right"
                                                       style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-overlay"></div>


                                </div>
                                <!-- Item 3 -->
                                <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="{{ asset('/images/sanit.png') }}" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Регион продвижения: Беларусь                    </span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Тематика: Сантехника
                    </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                9000/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center; padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button" data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left"
                                                       style="color:black; padding-right:5px;"></i><span
                                                            style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right"
                                                       style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-overlay"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}