{% extends 'BloggerBlogBundle::page/seoforms.html.twig' %}

{% block title %}Seo{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}


{% block body %}



    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <h1 style="text-align: center;">
                Продвижение сайта в Яндексе
            </h1>
            <div class="col-md-push-2 col-md-8" style="text-align: center;">
                <p class="home-o-nas" style="color:black; padding-bottom: 3%; text-transform: none;">Seo продвижение сайта в
                    Интернете позволяет вывести его на первые позиции в выдаче самых известных поисковых систем.
                    Благодаря высоким позициям, у сайта повысится посещаемость и рейтинг, увеличится трафик. При помощи
                    квалифицированного seo продвижения эфективная раскрутка сайта увеличивается во много раз.
                    Обратившись к профессионалам, возможно добиться высоких результатов в
                    продвижении сайта, получить прибыль, увеличив продажу товаров или услуг. Для повышения уровня
                    осведомленности бренда и повышения спроса потенциальных покупателей рекомендуется комплексное
                    продвижение сайта. </p>

                {#<a href="#" class="btn" style="border: 1px solid black;">Получить коммерческое предложение</a>#}
            </div>


        </div>
    </div>

    <section class="section bg-custom seo-foto" style="">
        <div class="container">
            <div class="row">
                <h2 class="text-white-big">
                    Продвижение сайтов в Яндекс топ, в чем секрет?</h2>

                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-thumbs-o-up fa-5x" aria-hidden="true" style="padding-bottom: 3%"></div>

                        <div class="home-text-stat" style="color:white;">
                            Большой опыт продвижения сайтов в Яндексе
                        </div>
                        <p style="margin-bottom: 5%;">Более 1000 запросов продвинуты в топ 10 поисковой системы Яндекс</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-users fa-5x" aria-hidden="true" style="padding-bottom: 3%"></div>
                        <div class="home-text-stat" style="color:white;">
                            Мы держим "руку на пульсе"
                        </div>
                        <p style="margin-bottom: 5%;">Наши специалисты контролируют апдейты (обновления) поисковых систем и готовы
                            быстро реагировать для минимализации потерь позиций и трафика.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="" style="text-align:center; color:white;">
                        <div class="fa fa-bar-chart fa-5x" aria-hidden="true" style="padding-bottom: 3%"></div>
                        <div class="home-text-stat" style="color:white;">
                            Индивидуальный подход к каждому клиенту

                        </div>
                        <p style="margin-bottom: 5%;">Каждый проект рассматривается командой специалистов в индивидуальном порядке.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <h2 style="text-align: center;">
                Продвижение сайта в Яндексе
            </h2>
            <div class="col-md-push-2 col-md-8" style="text-align: center;">
                <p class="home-o-nas" style="color:black; padding-bottom: 3%; text-transform: none;">Seo продвижение сайта в
                    Интернете позволяет вывести его на первые позиции в выдаче самых известных поисковых систем.
                    Благодаря высоким позициям, у сайта повысится посещаемость и рейтинг, увеличится трафик. При помощи
                    квалифицированного seo продвижения эфективная раскрутка сайта увеличивается во много раз.
                    Обратившись к профессионалам, возможно добиться высоких результатов в
                    продвижении сайта, получить прибыль, увеличив продажу товаров или услуг. Для повышения уровня
                    осведомленности бренда и повышения спроса потенциальных покупателей рекомендуется комплексное
                    продвижение сайта. </p>

                {#<a href="#" class="btn" style="border: 1px solid black;">Получить коммерческое предложение</a>#}
            </div>


        </div>
    </div>



{% endblock %}