{% extends 'BloggerBlogBundle::page/seoforms.html.twig' %}

{% block title %}Seo{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}




    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <h1 style="text-align: center;">
                Продвижение web-сайтов
            </h1>
            <div class="col-md-push-2 col-md-8" style="text-align: center;">
                <p class="home-o-nas" style="color:black; padding-bottom: 3%; text-transform: none;">Seo продвижение сайта в
                    Интернете позволяет вывести его на первые позиции в выдаче самых известных поисковых систем.
                    Благодаря высоким позициям, у сайта повысится посещаемость и рейтинг, увеличится трафик. При помощи
                    квалифицированного seo продвижения эфективная раскрутка сайта увеличивается во много раз.
                    Обратившись к профессионалам, возможно добиться высоких результатов в
                    продвижении сайта, получить прибыль, увеличив продажу товаров или услуг. Для повышения уровня
                    осведомленности бренда и повышения спроса потенциальных покупателей рекомендуется комплексное
                    продвижение сайта. </p>

                {#<a href="#" class="btn" style="border: 1px solid black;">Получить коммерческое предложение</a>#}
            </div>


        </div>
    </div>
    <div class="container-fluid  bg-gray-light">
    <div class="row">
    <div class="col-md-8 col-md-push-2 section" style="padding-top: 10px; padding-bottom: 10px; padding:0%;">
        <h2>Калькулятор расчета продвижения web-сайта</h2>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="an-small-title">Тематика сайта</div>

                <div class="element-single">
                    <form name="f11">
                            <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-11" value="80">
                                <label for="check-11">Авто</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-12" value="100">
                                <label for="check-12">Банковские услуги</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-13" value="60">
                                <label for="check-13">Бытовая техника</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text" >
                                <input type="radio" name="f11" id="check-14" value="50">
                                <label for="check-14">Двери</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text" >
                                <input type="radio" name="f11" id="check-15" value="50">
                                <label for="check-15">Дизайн интерьеров</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-16" value="80">
                                <label for="check-16">Медицина</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-17" value="120">
                                <label for="check-17">Мебель</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-18" value="100">
                                <label for="check-18">Недвижимость</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-19" value="40">
                                <label for="check-19">Обучение</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                            <input type="radio" name="f11" id="check-110" value="150">
                            <label for="check-110">Окна</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-111" value="70">
                                <label for="check-111">Отдых</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-112" value="50">
                                <label for="check-112">Продажа одежды и обуви</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-114" value="90">
                                <label for="check-114">Развлечения</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-115" value="130">
                                <label for="check-115">Строительство</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-116" value="70">
                                <label for="check-116">Услуги</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-119" value="100">
                                <label for="check-119">Hi-tech</label>
                            </span>
                        <span class="an-custom-checkbox radio dark-text">
                                <input type="radio" name="f11" id="check-120" value="60">
                                <label for="check-120">Другая</label>
                            </span>
                    </form>
                </div>
            </div>

            <div class="col-md-8">
                <div class="col-md-6">
                    <div class="an-small-title">Возраст сайта</div>

                    <div class="element-single">
                        <form name="f12">
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f12" id="check-121" value="150">
                                    <label for="check-121">Новый (до 2 месяцев)</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f12" id="check-122" value="100">
                                    <label for="check-122">До 1 года</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f12" id="check-123" value="50">
                                    <label for="check-123">От 1 до 3 лет</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f12" id="check-124" value="0">
                                    <label for="check-124">От 3 лет и выше</label>
                                </span>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="an-small-title">Тип сайта</div>

                    <div class="element-single">
                        <form name="f13">
                                <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f13" id="check-125" value="0">
                                    <label for="check-125">Сайт-визитка</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f13" id="check-126" value="100">
                                    <label for="check-126">Корпоративный сайт</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f13" id="check-127" value="200">
                                    <label for="check-127">Интернет-магазин</label>
                                </span>
                            <span class="an-custom-checkbox radio dark-text">
                                    <input type="radio" name="f13" id="check-128" value="400">
                                    <label for="check-128">Интернет-портал</label>
                                </span>
                        </form>
                    </div>
                </div>


                <div class="col-md-12" style="
    border-top: 2px dashed #ccc;
    margin-top: 10px">


                    <div class="pricing-table__item-price">
                        от
                        <span class="pricing-table__item-price-value" id="price-value1" >
                                200
                            {#Калькулятор стоимости#}
                            <script>
                                    // document.getElementById('price-value').innerHTML = 200;
                                    var f11 = document.forms.f11;
                                    var f12 = document.forms.f12;
                                    var f13 = document.forms.f13;
                                    var radio1 = 0, radio2 = 0, radio3 = 0;
                                    var value = parseInt(document.getElementById("price-value1").innerHTML);
                                    f11.onchange = function () {
                                        if(document.querySelector('input[name="f11"]:checked'))
                                        {
                                            radio1 = parseInt(document.querySelector('input[name="f11"]:checked').value);
                                        }
                                        if(document.querySelector('input[name="f12"]:checked'))
                                        {
                                            radio2 = parseInt(document.querySelector('input[name="f12"]:checked').value);
                                        }
                                        if(document.querySelector('input[name="f13"]:checked'))
                                        {
                                            radio3 = parseInt(document.querySelector('input[name="f13"]:checked').value);
                                        }
                                        document.getElementById('price-value1').innerHTML = value + radio1 + radio2 + radio3;
                                    }
                                    f12.onchange = function () {
                                        if(document.querySelector('input[name="f11"]:checked'))
                                        {
                                            radio1 = parseInt(document.querySelector('input[name="f11"]:checked').value);
                                        }
                                        if(document.querySelector('input[name="f12"]:checked'))
                                        {
                                            radio2 = parseInt(document.querySelector('input[name="f12"]:checked').value);
                                        }
                                        if(document.querySelector('input[name="f13"]:checked'))
                                        {
                                            radio3 = parseInt(document.querySelector('input[name="f13"]:checked').value);
                                        }
                                        document.getElementById('price-value1').innerHTML = value + radio1 + radio2 + radio3;
                                    }
                                    f13.onchange = function () {
                                        if(document.querySelector('input[name="f11"]:checked'))
                                        {
                                            radio1 = parseInt(document.querySelector('input[name="f11"]:checked').value);
                                        }
                                        if(document.querySelector('input[name="f12"]:checked'))
                                        {
                                            radio2 = parseInt(document.querySelector('input[name="f12"]:checked').value);
                                        }
                                        if(document.querySelector('input[name="f13"]:checked'))
                                        {
                                            radio3 = parseInt(document.querySelector('input[name="f13"]:checked').value);
                                        }
                                        document.getElementById('price-value1').innerHTML = value + radio1 + radio2 + radio3;
                                    }
                                </script>
                            {#Калькулятор стоимости#}
                            </span>
                        <div class="pricing-table__item-price-aside">
                            <span class="top">руб</span>
                            <span class="bottom">месяц</span>
                        </div>
                        <a href="#win2" class="btn" style="border: 1px solid black;">Оформить заявку</a>
                    </div>






                    <p style="font-size: 13px; margin-bottom: 20px;">
                        *Калькулятор расчитывает среднюю стоимость
                        продвижения сайта. Для того чтобы
                        узнать полную стоимость продвижения вашего сайта, заполните форму полного расчета стоимости
                        сайта и
                        наши специаоисты в короткие сроки подготовят коммерческое проедложение.
                    </p>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <h2 style="text-align: center;">Зависимость стоимости продвижения web-сайта, от типа и возраста</h2>
            <div class="col-md-push-2 col-md-8" style="text-align: center;">
                <p class="home-o-nas" style="color:black; padding-bottom: 3%; text-transform: none;">Seo продвижение сайта в
                    Интернете позволяет вывести его на первые позиции в выдаче самых известных поисковых систем.
                    Благодаря высоким позициям, у сайта повысится посещаемость и рейтинг, увеличится трафик. При помощи
                    квалифицированного seo продвижения эфективная раскрутка сайта увеличивается во много раз.
                    Обратившись к профессионалам, возможно добиться высоких результатов в
                    продвижении сайта, получить прибыль, увеличив продажу товаров или услуг. Для повышения уровня
                    осведомленности бренда и повышения спроса потенциальных покупателей рекомендуется комплексное
                    продвижение сайта. </p>

                {#<a href="#" class="btn" style="border: 1px solid black;">Получить коммерческое предложение</a>#}
            </div>


        </div>
    </div>
    <div class="container-fluid bg-gray-light" >
        <div class="row" style="margin-left: 10%; margin-right: 10%;">
            <h2 class="text-black">
                Наши кейсы</h2>
            <div id="first-slider1">
                <div id="carousel-example-generic1" class="carousel slide carousel-fade">


                    <div id="first-slider1">
                        <div id="carousel-example-generic1" class="carousel slide carousel-fade">
                            <!-- Indicators -->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <!-- Item 1 -->
                                <div class="item active slide-content "
                                     style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="{{ asset('/images/playmarket2.png') }}" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">Регион продвижения: Минск</span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">Тематика: Электроника</span></div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                8000/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button" data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left"
                                                       style="color:black; padding-right:5px;"></i><span
                                                            style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right"
                                                       style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-overlay"></div>
                                </div>
                                <!-- Item 2 -->
                                <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="{{ asset('/images/martial1.png') }}" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Регион продвижения: Беларусь
                    </span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Тематика: Спортивная экипировка
                    </span></div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                3200/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button" data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left"
                                                       style="color:black; padding-right:5px;"></i><span
                                                            style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right"
                                                       style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-overlay"></div>


                                </div>
                                <!-- Item 3 -->
                                <div class="item slide-content" style="width:100%; left:0%; height: auto;">
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <img src="{{ asset('/images/sanit.png') }}" alt="foto" width="100%"
                                             style="border: 4px dashed #808080; ">

                                    </div>
                                    <div class="col-md-6" style="margin-bottom:3%;">
                                        <div class="" style="text-align:center; padding-top: 5%;">
                                            <div style="padding-bottom: 3%;"><span class="fa fa-map-marker fa-2x"
                                                                                   aria-hidden="true"
                                                                                   style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Регион продвижения: Беларусь                    </span>
                                            </div>
                                            <div style="padding-bottom: 3%;">
                                            <span class="fa fa-star-o fa-2x" aria-hidden="true"
                                                  style="padding-right: 5px;"></span>
                                                <span class="home-text-cases">
                         Тематика: Сантехника
                    </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                0/мес
                                            </div>
                                            <div class="home-text-stat">Было</div>
                                        </div>
                                        <div class="col-md-6" style="padding-top:3%; padding-bottom:5%">
                                            <div style="font-size: 30px; font-weight: 600; text-align: center; font-family: Century Gothic;">
                                                9000/мес
                                            </div>
                                            <div class="home-text-stat">Стало</div>
                                        </div>
                                        <div>
                                            <div class="col-md-6" style="text-align:center; padding-top: 10px;">
                                                <a class="left carousel-control" href="#carousel-example-generic1"
                                                   role="button" data-slide="prev"
                                                   style="background-image: none; position: relative; text-align: left; font-size: 15px;">
                                                    <i class="mdi mdi-chevron-left"
                                                       style="color:black; padding-right:5px;"></i><span
                                                            style="text-align: left; font-size: 18px;">Предыдущий кейс</span>
                                                </a>

                                            </div>
                                            <div class="col-md-6" style="text-align:center;  padding-top: 10px;">

                                                <a class="right carousel-control" href="#carousel-example-generic1"
                                                   role="button"
                                                   data-slide="next"
                                                   style="background-image: none; position: relative;text-align: right; font-size: 15px;">
                                                    <span style="text-align: right; font-size: 18px;">Следующий кейс</span>
                                                    <i class="mdi mdi-chevron-right"
                                                       style="color:black; padding-left:5px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-overlay"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}