html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 14px;
}

.clear {
    clear: both;
}

#wrapper {
    margin: auto;

}

#wrapper a {
    text-decoration: none;

}

#wrapper span.highlight {
    color: #F48A00;
}

#header {

}

hgroup {
    background: url(/images/slide3.jpg) #000 no-repeat 0px 0px;
    background-size: cover;
    padding-bottom: 50px;
}

hgroup:hover {

}

#header .top {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#header ul.navigation {
    list-style: none;
    text-align: center;
}

#header .navigation li {
    display: inline
}

#header .navigation li a {
    display: inline-block;
    padding: 2% 4%;

}

#header h2 {
    padding-top: 30px;
    font-family: 'Broadway', cursive;
    font-size: 92px;
    text-align: center;
    line-height: 110px;
}

#header h2 a {
    color: white;
}

.slogan-line {
    font-family: Segoe print;
    color: white;
}

@media (min-width: 768px) {
    .navbar-header {
        display: none;
    }
}

@media (max-width: 400px) {
    hgroup {
        background-position-x: -350px;
    }

    .navbar-custom .navbar-nav li a {
        color: white !important;
    }
}

#header h3 {
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: normal;
}

.main-col {
    width: 700px;
    display: inline-block;
    float: left;
    border-right: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.sidebar {
    width: 239px;
    padding: 10px;
    display: inline-block;
}

.main-col a {
    color: #F48A00;
}

.main-col h1,
.main-col h2 {
    line-height: 1.2em;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #F48A00;
}

.main-col p {
    line-height: 1.5em;
    margin-bottom: 20px;
}

#footer {
    border-top: 1px solid #ccc;
    clear: both;
    text-align: center;

    color: #aaa;
}

.text-header {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: Century Gothic, arial, serif;
    padding-top: 70px;
    font-weight: 500;
    line-height: 1.5;
    margin:10px;
}

.social-icons {
    width: 30px;
    border: 3px solid #FFFFFF;
    height: 30px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.square {
    width: 250px;
    border: 2px solid #d8d8d8;
    height: 250px;
    color: black;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    margin: 0 auto;
    font-family: Century Gothic, arial, serif;
    display: table;
}

.square-white {
    width: 250px;
    border: 3px solid #fff;
    height: 250px;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    margin: 0 auto;
    font-family: Century Gothic, arial, serif;
    display: table;}

.block1:before {
    content: "\f085";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 150px;
    opacity: 0.08;
    margin-top: 10px;
}

.block2:before {
    content: "\f012";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 180px;
    opacity: 0.08;
}

.block3:before {
    content: "\f0ad";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 180px;
    opacity: 0.08;
}

.block4:before {
    content: "\f095";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 150px;
    opacity: 0.30;
    margin-top: 20px;
    color: white;
    margin-left: 10px;
}

.block5:before {
    content: "\f07a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 150px;
    opacity: 0.30;
    margin-top: 10px;
    color:white;
    margin-left: 25px;
}

.block6:before {
    content: "\f099";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 150px;
    opacity: 0.30;
    margin-top: 30px;
    color: white;
    margin-left: 10px;
}

.home-o-nas {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Century Gothic;
    font-weight: 500;
    line-height: 1.5;
}

.home-o-nas-foto {
    background-image: url('/images/home-4.jpg');
    background-size: 100% auto;
    opacity: 0.9;
}

@media (max-width: 768px) {
    .home-o-nas-foto {
        background-size: auto;
    }

    .home-o-nas {
        font-size: 15px;
    }
}

.home-text-stat {
    vertical-align: middle;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: Century Gothic;
    font-weight: 500;
    padding-bottom: 3%;
    line-height: 25px;
}

.home-text-cases {
    vertical-align: middle;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: Century Gothic;
    font-weight: 500;
    padding-bottom: 3%;
    line-height: 25px;
}

@media (max-width: 468px) {
    .home-text-cases {
        font-size: 15px;
    }
}

.footer-contacts {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Century Gothic;
    font-weight: 500;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .our-clients {
        width: 30%;
        display: inline-block;
    }
}

.form-control-footer {
    margin-bottom: 25px;
    box-shadow: none !important;
    height: 44px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background: none;
    background-image: none;
    border: 2px dashed #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-custom:hover {
    color: black;
}

.quote-2 {
    position: relative;
    background-color: white;
    color: black;
    padding: 30px 30px 50px;
    border-radius: 5px;
    line-height: 24px;
    box-shadow: 0 4px 0 0 #ccc;
    font-style: italic;
}

.quote-2:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    bottom: -18px;
    left: 160px;
    border: 10px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: transparent transparent #fff #fff;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -4px 4px 0 0 #ccc;
}

.social-icons-contacts {
    width: 30px;
    border: 3px solid #898989;
    height: 30px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    color: #898989;
    font-size: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.seo-foto {
    background-image: url('/images/about.jpg');
    background-size: 100% auto;
}

@media (max-width: 768px) {
    .seo-foto {
        background-image: url('/images/about.jpg');
        background-size: auto auto;
    }
}

.text-black {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: Century Gothic;
    font-weight: 500;
    padding-bottom: 3%;
}

.text-black-big {
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-family: Century Gothic;
    font-weight: 500;

}

.text-white {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: Century Gothic;
    font-weight: 500;
    padding-bottom: 3%;
}

.text-white-big {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-family: Century Gothic;
    font-weight: 500;
    padding-bottom: 3%;
}

.quote-3 {
    position: relative;
    background-color: white;
    color: black;
    padding: 30px 30px 50px;
    line-height: 24px;
    box-shadow: 0 4px 0 0 #ccc;

    border: 2px solid #ccc;
    margin-top: 4%;
    border-radius: 5px;
    text-align:center;
}

@media (min-width:768px){
.icon-social-mobile {
display:none;}
}

@media (max-width:767px){
    .icon-social-desktop {
        display:none;}
}

@media (min-width:768px) and (max-width:1260px){
    .navbar-nav > li > a {
        border-bottom: 3px solid transparent;
        background-color: transparent !important;
        text-transform: uppercase;
        font-family: Century Gothic;
        font-weight: 500;
        font-size: 13px;}
}

@media (min-width:1260px) {
    .icon-social-desktop {
        margin: 2.2% auto;
        padding-right: 5px;
        padding-left: 5px;
    }
}
@media (min-width:768px) and (max-width:1260px){
    .icon-social-desktop {margin: 3.0% auto;}
    .social-icons-header {
        width: 25px;
        border: 2px solid #FFFFFF;
        height: 25px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        color: #fff;
        font-size: 15px;
        margin-right: 3px;
        text-align: center;
        cursor: pointer;
        line-height: 22px;
    }
}

.icon-social-mobile {

    display: inline-block;
    margin-right: 15px;
    padding-left: 5px;
    float: right;
    line-height: 40px;
    vertical-align: middle;


}


.navbar-toggle-mobile {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-left: 5px;
    margin-bottom: 2px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 24px;

    color: #ffffff;
}

/*.sticky {*/
    /*position: -webkit-sticky;*/
    /*position: -moz-sticky;*/
    /*position: -ms-sticky;*/
    /*position: -o-sticky;*/
    /*position: sticky;*/
    /*top: 0px;*/
    /*width: 100%;*/
    /*border-bottom:1px solid #ccc;*/
    /*background: white;*/
    /*z-index:1000;*/
/*}*/

.block1:hover {box-shadow: 8px 8px 35px 0 rgba(0,0,0,0.15)}
.block2:hover {box-shadow: 8px 8px 35px 0 rgba(0,0,0,0.15)}
.block3:hover {box-shadow: 8px 8px 35px 0 rgba(0,0,0,0.15)}

.element-single {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.an-small-title
{
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.an-custom-checkbox label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    font-size: 15px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.an-custom-checkbox.dark-text.radio input[type="radio"]:checked + label {
    color: #374249;
}

.an-custom-checkbox input[type="checkbox"]:checked + label:before, .an-custom-checkbox input[type="radio"]:checked + label:before {
    content: "\f1db";
    font-family: "FontAwesome";
    color: #ccc;
}

.an-custom-checkbox label:before {
    content: "\f1db";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
    color: #ccc;
    font-size: 18px;
}

.an-custom-checkbox input {
    display: none;
}

.an-custom-checkbox.radio input[type="radio"]:checked + label:before {
    content: "\f111";
}

.price-result {
    border-bottom: 3px solid #ccc;
    text-align: center;
    margin: 20px 0px;
    display: inline-block;
}

.pricing-table__item-price {
    font-family: "Space Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #151515;
}

.pricing-table__item-price {
    margin-top: 22px;
}

.pricing-table__item-price-currency {
    position: relative;
    top: -2px;
    left: -2px;
    font-size: 24px;
    vertical-align: top;
}

.pricing-table__item-price > * {
     display: inline-block;
 }

.pricing-table__item-price-value {
    font-size: 60px;
    line-height: 1;
}

.pricing-table__item-price-aside {
    position: relative;
    top: -4px;
}

.pricing-table__item-price-aside .top {
    font-size: 24px;
}
.pricing-table__item-price-aside > * {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
}

.pricing-table__item-price-aside .bottom {
    font-size: 16px;
}
.pricing-table__item-price-aside > * {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
}

@media (min-width: 768px) {
    .border-left-1 {
        border-left: 3px dashed #ccc;
    }
}

@media (min-width: 768px){
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        text-align: center;
    }}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 15px; }

.seo-calculator {
    position: fixed;
    width: 62px;
    height: 64px;
    right: 0;
    top: 50%;
    z-index: 1;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
    overflow: hidden;
    cursor:pointer;


}

.seo-calculator:hover {

    width: 200px;
}




.btn-infographic {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid #ccc;
    padding: 9px 28px;
}

/*.infographic-block {*/
    /*display: block;*/
/*margin-bottom: 0;*/
/*font-weight: normal;*/
/*line-height: 1.42857143;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*-ms-touch-action: manipulation;*/
/*touch-action: manipulation;*/
/*cursor: pointer;*/
/*-webkit-user-select: none;*/
/*-moz-user-select: none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*background-image: none;*/
/*border: 1px solid black;*/
/*padding: 9px 28px;*/
/*}*/

/*.infographic-block:after {*/
    /*position:absolute;*/
    /*top:40%;*/
    /*border: 20px solid transparent;*/
    /*border-left: 20px solid black;*/
    /*content: '';*/
/*}*/

.infographic-block  {
    padding: 20px;
    margin-top: 30px;
    position: relative;
    color: black;
    border: 3px solid #ccc;
    right:5%;
    display: inline-block;
    float:right;
}
.infographic-block:after {
    content: '';
    position: absolute;
    /* right: 20px; */
    bottom: 50%;
    border: 10px solid transparent;
    border-left: 15px solid #ccc;
    right: -28px;
}

.infographic-block-title  {
    padding: 20px;
    position: relative;
    color: black;
    border: 3px solid #ccc;
    display: inline-block;
    margin-top: 11%;
    float: left;
    left: 30px;
}


.infographic-block-title:before {
    float: left;
    left: -33px;
    content: '';
    position: absolute;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 3px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 30px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    top: 48%;
}

.infographic-block-left  {
    padding: 20px;
    position: relative;
    color: black;
    border: 3px solid #ccc;
    display: inline-block;
    margin-top: 10%;
    float: right;
    right: 45px;
}


.infographic-block-left:before {
    float: left;
    right: -49px;
    content: '';
    position: absolute;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 47px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 3px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    top: 48%;
}

.infographic-block-right  {
    padding: 20px;
    margin-top: 38px;
    position: relative;
    color: black;
    border: 3px solid #ccc;
    left:5%;
    display: inline-block;
    float:left;
}
.infographic-block-right:before {
    content: '';
    position: absolute;
    /* right: 20px; */
    bottom: 37%;
    border: 10px solid transparent;
    border-right: 15px solid #ccc;
    left: -28px;
}

.infographic-bottom  {
    padding: 20px;
    margin-top: 60px;
    position: relative;
    color: black;
    border: 3px solid #ccc;
    right:5%;
    display: inline-block;
    float:right;
}
.infographic-bottom:after {
    content: '';
    position: absolute;
    /* right: 20px; */
    bottom: 29%;
    border: 10px solid transparent;
    border-left: 15px solid #ccc;
    right: -28px;
}

.infographic-block li, .infographic-bottom li, .infographic-block-right li {
    font-size: 17px;
}

@media (max-width: 768px) {
    .infographic-desktop {
    display:none;}
}

.seo-arrow:after {
    content: '\f061';
    font-family: fontawesome;
    position: absolute;
    right: -5px;
    top: 30%;
    color: white;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .seo-arrow:after {
        content: '';
    }
}

.seo-mail {
    position: fixed;
    width: 62px;
    height: 64px;
    right: 0;
    top: 60%;
    z-index: 1;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
    overflow: hidden;
    cursor:pointer;
}

.seo-mail:hover {
    width: 200px;
}


.phone-call {
    position: fixed;
    width: 62px;
    height: 64px;
    right: 0;
    top: 70%;
    z-index: 1;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
    overflow: hidden;
    cursor:pointer;
}

.phone-call:hover {
    width: 200px;
}

.text-left {
    text-align: center;
    width: 120px;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    height: 53px;
    overflow: hidden;
    position: relative;

}

a.btn-hover:hover {
    transform: scale(1.03);
    transition: all .5s ease;
}

.icon-360 { /* 1st set of icons. Rotate them 360deg onmouseover and out */
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.icon-360:hover{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


.navbar.navbar-custom.navbar-custom-myheader.sticky {
    font-size: 15px;
    position:fixed;
    line-height: 20px;
    height: 100px;
    background:  	#808080;
    text-align: center;
    padding: 5px 0px;
    opacity: 0.9;
}

header {
    position: fixed;
    transition: all 0.9s ease;
}


.sticky .navbar-collapse.collapse {

 }

@media (max-width:1000px) {
    /*.navbar.navbar-custom.navbar-custom-myheader.sticky {*/
        /*position:relative;*/
    /*}*/

    .phone-call {
        top: 72%;
    }
    .seo-calculator {
        top: 48%;
    }
}

@media (max-height:450px) {
    .phone-call {
    top:70%
}
    .seo-calculator {
        top: 30%;
    }
    .seo-mail {
        top: 50%;
    }
}

.medium-text {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Century Gothic;
    font-weight: 500;
    line-height: 1.5;
    padding: 3% 0%;
}

@media (max-width: 768px) {

    .medium-text {
        font-size: 15px;
    }
    .navbar-right li a
    {color:white;}
}



.footer-contacts li a {
    color:white;
}

.logo-home {
    text-align:center;
    margin: 55px;
    width:auto;
}

.logo-home img {
    max-height: 230px;
}

@media (max-width: 420px) {
    .logo-home {
        margin: 40px;
    }
    .logo-home img {
        width: 100%;
    }

}

.nav > li > a:hover {
    background-color: none;
}